In [4]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df1 = pd.read_csv('survey_data.csv')
df1.head()

,id,city,gender,age,hh_size,hh_type,education,height,weight,waist
0,1,Montpellier,male,25-34,2,couple,master or doctorate,183.0,62.0,78.0
1,2,Montpellier,female,25-34,2,couple,high school,163.0,60.0,75.0
2,3,Lyon,female,25-34,2,couple,master or doctorate,172.0,65.0,60.0
3,4,Lyon,male,25-34,3,single parent,bachelor,182.0,85.0,95.0
4,5,Bordeaux,male,25-34,2,couple,master or doctorate,177.0,70.0,81.0

In [6]:
# Separating the data with semicoloms in order to make it compatible with the other csv file
df2 = pd.read_csv('steps_data.csv', sep = ';')
df2.head()

,id,20-06-13,21-06-13,22-06-13,23-06-13,24-06-13,25-06-13,26-06-13,27-06-13,28-06-13,...,04-05-14,05-05-14,06-05-14,07-05-14,08-05-14,09-05-14,10-05-14,11-05-14,12-05-14,13-05-14
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,641.0,4045.0,2310.0,2480.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,25.0,4067.0,7192.0,154.0,8674.0,8275.0,850.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Looking for commong identifier to merge both files into a new dataframe
df3 = pd.merge(df1, df2, on = 'id')
df3.head()

,id,city,gender,age,hh_size,hh_type,education,height,weight,waist,...,04-05-14,05-05-14,06-05-14,07-05-14,08-05-14,09-05-14,10-05-14,11-05-14,12-05-14,13-05-14
0,1,Montpellier,male,25-34,2,couple,master or doctorate,183.0,62.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Montpellier,female,25-34,2,couple,high school,163.0,60.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Lyon,female,25-34,2,couple,master or doctorate,172.0,65.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Lyon,male,25-34,3,single parent,bachelor,182.0,85.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Bordeaux,male,25-34,2,couple,master or doctorate,177.0,70.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df3.info('waist')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 929 entries, 0 to 928
Data columns (total 338 columns):
id           int64
city         object
gender       object
age          object
hh_size      int64
hh_type      object
education    object
height       float64
weight       float64
waist        float64
20-06-13     float64
21-06-13     float64
22-06-13     float64
23-06-13     float64
24-06-13     float64
25-06-13     float64
26-06-13     float64
27-06-13     float64
28-06-13     float64
29-06-13     float64
30-06-13     float64
01-07-13     float64
02-07-13     float64
03-07-13     float64
04-07-13     float64
05-07-13     float64
06-07-13     float64
07-07-13     float64
08-07-13     float64
09-07-13     float64
10-07-13     float64
11-07-13     float64
12-07-13     float64
13-07-13     float64
14-07-13     float64
15-07-13     float64
16-07-13     float64
17-07-13     float64
18-07-13     float64
19-07-13     float64
20-07-13     float64
21-07-13     float64
22-07-13     float64
23-07-13     float64
24-07-13     float64
25-07-13     float64
26-07-13     float64
27-07-13     float64
28-07-13     float64
29-07-13     float64
30-07-13     float64
31-07-13     float64
01-08-13     float64
02-08-13     float64
03-08-13     float64
04-08-13     float64
05-08-13     float64
06-08-13     float64
07-08-13     float64
08-08-13     float64
09-08-13     float64
10-08-13     float64
11-08-13     float64
12-08-13     float64
13-08-13     float64
14-08-13     float64
15-08-13     float64
16-08-13     float64
17-08-13     float64
18-08-13     float64
19-08-13     float64
20-08-13     float64
21-08-13     float64
22-08-13     float64
23-08-13     float64
24-08-13     float64
25-08-13     float64
26-08-13     float64
27-08-13     float64
28-08-13     float64
29-08-13     float64
30-08-13     float64
31-08-13     float64
01-09-13     float64
02-09-13     float64
03-09-13     float64
04-09-13     float64
05-09-13     float64
06-09-13     float64
07-09-13     float64
08-09-13     float64
09-09-13     float64
10-09-13     float64
11-09-13     float64
12-09-13     float64
13-09-13     float64
14-09-13     float64
15-09-13     float64
16-09-13     float64
17-09-13     float64
18-09-13     float64
19-09-13     float64
20-09-13     float64
21-09-13     float64
22-09-13     float64
23-09-13     float64
24-09-13     float64
25-09-13     float64
26-09-13     float64
27-09-13     float64
28-09-13     float64
29-09-13     float64
30-09-13     float64
01-10-13     float64
02-10-13     float64
03-10-13     float64
04-10-13     float64
05-10-13     float64
06-10-13     float64
07-10-13     float64
08-10-13     float64
09-10-13     float64
10-10-13     float64
11-10-13     float64
12-10-13     float64
13-10-13     float64
14-10-13     float64
15-10-13     float64
16-10-13     float64
17-10-13     float64
18-10-13     float64
19-10-13     float64
20-10-13     float64
21-10-13     float64
22-10-13     float64
23-10-13     float64
24-10-13     float64
25-10-13     float64
26-10-13     float64
27-10-13     float64
28-10-13     float64
29-10-13     float64
30-10-13     float64
31-10-13     float64
01-11-13     float64
02-11-13     float64
03-11-13     float64
04-11-13     float64
05-11-13     float64
06-11-13     float64
07-11-13     float64
08-11-13     float64
09-11-13     float64
10-11-13     float64
11-11-13     float64
12-11-13     float64
13-11-13     float64
14-11-13     float64
15-11-13     float64
16-11-13     float64
17-11-13     float64
18-11-13     float64
19-11-13     float64
20-11-13     float64
21-11-13     float64
22-11-13     float64
23-11-13     float64
24-11-13     float64
25-11-13     float64
26-11-13     float64
27-11-13     float64
28-11-13     float64
29-11-13     float64
30-11-13     float64
01-12-13     float64
02-12-13     float64
03-12-13     float64
04-12-13     float64
05-12-13     float64
06-12-13     float64
07-12-13     float64
08-12-13     float64
09-12-13     float64
10-12-13     float64
11-12-13     float64
12-12-13     float64
13-12-13     float64
14-12-13     float64
15-12-13     float64
16-12-13     float64
17-12-13     float64
18-12-13     float64
19-12-13     float64
20-12-13     float64
21-12-13     float64
22-12-13     float64
23-12-13     float64
24-12-13     float64
25-12-13     float64
26-12-13     float64
27-12-13     float64
28-12-13     float64
29-12-13     float64
30-12-13     float64
31-12-13     float64
01-01-14     float64
02-01-14     float64
03-01-14     float64
04-01-14     float64
05-01-14     float64
06-01-14     float64
07-01-14     float64
08-01-14     float64
09-01-14     float64
10-01-14     float64
11-01-14     float64
12-01-14     float64
13-01-14     float64
14-01-14     float64
15-01-14     float64
16-01-14     float64
17-01-14     float64
18-01-14     float64
19-01-14     float64
20-01-14     float64
21-01-14     float64
22-01-14     float64
23-01-14     float64
24-01-14     float64
25-01-14     float64
26-01-14     float64
27-01-14     float64
28-01-14     float64
29-01-14     float64
30-01-14     float64
31-01-14     float64
01-02-14     float64
02-02-14     float64
03-02-14     float64
04-02-14     float64
05-02-14     float64
06-02-14     float64
07-02-14     float64
08-02-14     float64
09-02-14     float64
10-02-14     float64
11-02-14     float64
12-02-14     float64
13-02-14     float64
14-02-14     float64
15-02-14     float64
16-02-14     float64
17-02-14     float64
18-02-14     float64
19-02-14     float64
20-02-14     float64
21-02-14     float64
22-02-14     float64
23-02-14     float64
24-02-14     float64
25-02-14     float64
26-02-14     float64
27-02-14     float64
28-02-14     float64
01-03-14     float64
02-03-14     float64
03-03-14     float64
04-03-14     float64
05-03-14     float64
06-03-14     float64
07-03-14     float64
08-03-14     float64
09-03-14     float64
10-03-14     float64
11-03-14     float64
12-03-14     float64
13-03-14     float64
14-03-14     float64
15-03-14     float64
16-03-14     float64
17-03-14     float64
18-03-14     float64
19-03-14     float64
20-03-14     float64
21-03-14     float64
22-03-14     float64
23-03-14     float64
24-03-14     float64
25-03-14     float64
26-03-14     float64
27-03-14     float64
28-03-14     float64
29-03-14     float64
30-03-14     float64
31-03-14     float64
01-04-14     float64
02-04-14     float64
03-04-14     float64
04-04-14     float64
05-04-14     float64
06-04-14     float64
07-04-14     float64
08-04-14     float64
09-04-14     float64
10-04-14     float64
11-04-14     float64
12-04-14     float64
13-04-14     float64
14-04-14     float64
15-04-14     float64
16-04-14     float64
17-04-14     float64
18-04-14     float64
19-04-14     float64
20-04-14     float64
21-04-14     float64
22-04-14     float64
23-04-14     float64
24-04-14     float64
25-04-14     float64
26-04-14     float64
27-04-14     float64
28-04-14     float64
29-04-14     float64
30-04-14     float64
01-05-14     float64
02-05-14     float64
03-05-14     float64
04-05-14     float64
05-05-14     float64
06-05-14     float64
07-05-14     float64
08-05-14     float64
09-05-14     float64
10-05-14     float64
11-05-14     float64
12-05-14     float64
13-05-14     float64
dtypes: float64(331), int64(2), object(5)
memory usage: 2.4+ MB

In [34]:
# Finding out what is plausible waist size, looking on domain knowledge
df3['waist'].value_counts()

90.0     46
80.0     46
84.0     35
83.0     32
82.0     30
75.0     30
85.0     29
95.0     28
92.0     28
87.0     28
88.0     28
70.0     26
100.0    26
86.0     25
89.0     24
76.0     23
93.0     22
78.0     22
73.0     21
77.0     18
98.0     18
97.0     16
91.0     16
74.0     15
81.0     14
65.0     14
105.0    14
72.0     14
110.0    14
99.0     14
         ..
63.0      2
125.0     2
61.0      2
64.0      2
122.0     2
115.0     2
132.0     2
58.0      2
41.0      2
117.0     1
0.0       1
116.0     1
173.0     1
175.0     1
119.0     1
27.0      1
44.0      1
130.0     1
55.0      1
56.0      1
46.0      1
49.0      1
48.0      1
172.0     1
53.0      1
131.0     1
36.0      1
39.0      1
35.0      1
147.0     1
Name: waist, Length: 85, dtype: int64

In [19]:
def replace_value(x):
    if(x < 45.0):
        return float('NaN')
    else: 
        return x
    
df3['waist_corrected'] = df3['waist'].apply(replace_value)
df3

,id,city,gender,age,hh_size,hh_type,education,height,weight,waist,...,05-05-14,06-05-14,07-05-14,08-05-14,09-05-14,10-05-14,11-05-14,12-05-14,13-05-14,waist_corrected
0,1,Montpellier,male,25-34,2,couple,master or doctorate,183.0,62.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0
1,2,Montpellier,female,25-34,2,couple,high school,163.0,60.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0
2,3,Lyon,female,25-34,2,couple,master or doctorate,172.0,65.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0
3,4,Lyon,male,25-34,3,single parent,bachelor,182.0,85.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0
4,5,Bordeaux,male,25-34,2,couple,master or doctorate,177.0,70.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0
5,6,Lyon,male,45-54,1,single,bachelor,180.0,81.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0
6,7,Bordeaux,female,25-34,1,single,master or doctorate,160.0,62.0,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0
7,8,Lyon,female,35-44,3,single parent,bachelor,153.0,40.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0
8,9,Bordeaux,female,25-34,3,family,master or doctorate,175.0,71.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0
9,10,Lyon,female,25-34,3,family,high school,165.0,68.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0
10,11,Lyon,male,55-64,2,single parent,bachelor,175.0,82.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0
11,12,Lyon,female,25-34,1,single,master or doctorate,165.0,60.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0
12,13,Lyon,female,45-54,3,single parent,vocational,160.0,77.0,107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.0
13,14,Lyon,female,55-64,1,single,master or doctorate,160.0,64.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0
14,15,Lyon,female,45-54,5,family,high school,176.0,96.0,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.0
15,16,Lyon,male,55-64,1,single,vocational,173.0,81.0,104.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.0
16,17,Bordeaux,male,25-34,2,couple,master or doctorate,180.0,70.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0
17,18,Lille,female,<25,3,couple,bachelor,165.0,58.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0
18,19,Lyon,male,45-54,2,couple,vocational,178.0,60.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0
19,20,Lyon,female,45-54,1,single,high school,168.0,72.0,90.0,...,9890.0,5549.0,6814.0,9397.0,8615.0,6480.0,9966.0,13433.0,NaN,90.0
20,21,Lyon,male,25-34,2,couple,bachelor,172.0,74.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0
21,22,Lyon,male,25-34,1,single,master or doctorate,183.0,75.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0
22,23,Lille,male,25-34,2,other,high school,175.0,58.0,76.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0
23,24,Lille,male,<25,2,other,bachelor,176.0,70.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0
24,25,Lyon,male,35-44,3,family,master or doctorate,179.0,78.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.0
25,26,Lyon,male,35-44,4,family,bachelor,180.0,88.0,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.0
26,27,Lille,female,25-34,1,single,master or doctorate,163.0,56.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.0
27,28,Lyon,male,25-34,1,single,master or doctorate,181.0,69.0,83.0,...,8654.0,15060.0,7661.0,24143.0,33379.0,43561.0,24711.0,6425.0,NaN,83.0
28,29,Lille,male,25-34,2,couple,master or doctorate,173.0,70.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0
29,30,Lyon,male,25-34,1,single,master or doctorate,187.0,93.0,106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899,900,Lyon,female,25-34,2,couple,bachelor,160.0,60.0,79.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0
900,901,Lille,male,25-34,3,other,master or doctorate,172.0,66.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0
901,902,Lyon,female,55-64,2,single parent,master or doctorate,171.0,88.0,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.0
902,903,Bordeaux,female,35-44,4,family,bachelor,157.0,55.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0
903,904,Lille,female,25-34,2,couple,bachelor,180.0,68.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0
904,905,Lille,female,35-44,2,single parent,bachelor,163.0,73.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0
905,906,Lyon,female,<25,1,single,master or doctorate,170.0,55.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0
906,907,Lyon,female,45-54,5,family,master or doctorate,168.0,63.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0
907,908,Lyon,female,45-54,2,couple,high school,154.0,64.0,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.0
908,909,Bordeaux,female,25-34,2,couple,master or doctorate,172.0,58.0,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0
909,910,Bordeaux,male,35-44,2,couple,master or doctorate,180.0,70.0,88.0,...,776.0,3271.0,38400.0,40384.0,1760.0,5492.0,1460.0,NaN,NaN,88.0
910,911,Montpellier,female,35-44,4,family,bachelor,168.0,61.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0
911,912,Lyon,male,45-54,3,family,master or doctorate,178.0,116.0,120.0,...,NaN,NaN,NaN,NaN,13135.0,9955.0,5320.0,NaN,NaN,120.0
912,913,Bordeaux,female,35-44,3,family,bachelor,160.0,66.0,92.0,...,7841.0,8964.0,15958.0,5853.0,10379.0,6541.0,4957.0,8775.0,NaN,92.0
913,914,Lyon,female,25-34,1,single,master or doctorate,161.0,55.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.0
914,915,Lyon,female,25-34,2,couple,master or doctorate,165.0,57.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0
915,916,Lyon,male,45-54,5,family,master or doctorate,173.0,66.0,62.0,...,5041.0,13911.0,10292.0,4190.0,4444.0,24596.0,5300.0,4310.0,NaN,62.0
916,917,Bordeaux,male,25-34,3,family,bachelor,189.0,88.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0
917,918,Lyon,male,25-34,3,family,master or doctorate,185.0,97.0,106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.0
918,919,Montpellier,male,35-44,3,family,high school,190.0,92.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.0
919,920,Lille,female,25-34,2,couple,bachelor,163.0,54.0,73.0,...,14235.0,14216.0,4580.0,8864.0,12223.0,9667.0,3960.0,9790.0,NaN,73.0
920,921,Lyon,male,55-64,4,family,bachelor,166.0,90.0,109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.0
921,922,Lille,male,35-44,2,couple,bachelor,174.0,78.0,99.0,...,6907.0,9687.0,5956.0,NaN,7780.0,6713.0,2380.0,6146.0,NaN,99.0
922,923,Lyon,female,25-34,1,single,master or doctorate,169.0,53.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0
923,924,Bordeaux,male,35-44,4,family,bachelor,165.0,69.0,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0
924,925,Bordeaux,male,25-34,5,family,high school,177.0,69.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0
925,926,Bordeaux,male,35-44,1,single,bachelor,172.0,66.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0
926,927,Lyon,female,45-54,3,family,primary,169.0,108.0,108.0,...,NaN,NaN,NaN,14977.0,12778.0,12511.0,NaN,NaN,NaN,108.0
927,928,Montpellier,female,35-44,1,single,master or doctorate,167.0,64.0,85.0,...,8812.0,3821.0,3817.0,4092.0,15096.0,6024.0,4035.0,NaN,NaN,85.0
928,929,Lille,male,25-34,2,couple,bachelor,190.0,83.0,89.0,...,12369.0,8710.0,15514.0,7435.0,4978.0,14123.0,15799.0,7121.0,NaN,89.0